@model TransporteMorande.Models.App.HotelViewModel
@{
    Layout = "../Shared/_Layout.cshtml";

}
@section Styles
{
    <link href="../plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/bower_components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="../plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="../plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

    <style>
        .frontinput {
            z-index: 1650 !important; /* has to be larger than 1050 */
        }
    </style>
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Mantenedor de Hospedajes</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <a href="javascript: void(0);" target="_blank" id="nuevoHotel" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">NUEVO HOSPEDAJE</a>
        <ol class="breadcrumb">
            <li><a href="#">Mantenedores</a></li>
            <li class="active">Hospedajes</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Criterios de búsqueda
            </div>
            @using (Html.BeginForm("Index", "Hotel", FormMethod.Post, new { @class = "form-horizontal", @id = "form_enviar" }))
            {
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Nombre</h6>
                                @Html.EditorFor(x => x.NombreSeleccionado, new { htmlAttributes = new { @id = "NombreSeleccionado", @class = "form-control" } })
                            </div>
                            <div class="col-md-12">
                                <h6>Domicilio</h6>
                                @Html.EditorFor(x => x.DireccionSeleccionada, new { htmlAttributes = new { @id = "DireccionSeleccionada", @class = "form-control" } })
                            </div>
                            <div class="col-md-12">
                                <h6>Tipo</h6>
                                @Html.DropDownListFor(x => x.TipoSeleccionado, Model.Tipos, new { @class = "form-control", @id = "TipoSeleccionado" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"><button type="submit" id="filtrarHoteles" class="btn btn-success" value="Filtrar">Filtrar</button> </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-9">
        <div class="white-box">
            @*<h3 class="box-title">Servicios de Turismo</h3>*@
            <div class="scrollable">
                <div class="table-responsive">
                    <table id="tablaHoteles" class="table m-t-30 table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfonos</th>
                                <th>Tipo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.Hoteles)
                            {
                                <tr>
                                    <td>@a.Nombre</td>
                                    <td>@a.Direccion</td>
                                    <td>@a.TelefonoPrimario @a.TelefonoSecundario</td>
                                    <td>@a.tipo</td>
                                    <td>
                                        <button type="button" value="@a.Id" onclick="modificar(value);" title='Modificar' class='btn btn-sm btn-icon btn-pure btn-outline jsgrid-edit-button trigger-modal-edit' data-toggle="tooltip" data-original-title="Modificar"><i class="ti-pencil" aria-hidden="true"></i></button>
                                        <button type="button" value="@a.Id" onclick="consultaEliminar(value);" data-toggle="tooltip" data-original-title="Eliminar" class='btn btn-sm btn-icon btn-pure btn-outline trigger-modal-delete'><i class="ti-close" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalNuevoHotel" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="white-box">
                    @using (Ajax.BeginForm("Nuevo", "Hotel", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "idMensaje",
                        LoadingElementId = "loader2",
                        HttpMethod = "Post"
                    }, new { @class = "form-horizontal form-material", @id = "form_enviarNuevo" }))
                    {
                        <h3 class="box-title m-b-0">Nuevo Hospedaje</h3>
                        <small>Transportes Morandé</small>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group m-t-20">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="Nombre" id="Nombre" type="text" required="" maxlength="50" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="Direccion" id="Direccion" type="text" maxlength="150" placeholder="Direccion">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="TelefonoPrimario" id="TelefonoPrimario" maxlength="50" type="text" placeholder="Teléfono 1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="TelefonoSecundario" id="TelefonoSecundario" maxlength="50" type="text" placeholder="Teléfono 2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @Html.DropDownList("Tipo", Model.TiposNuevoHospedaje, new { @id = "Tipo", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Crear hospedaje</button>
                            </div>
                        </div>

                        <div id="idMensaje">

                        </div>
                        <div id="loader2" class=" aletr" style="display:none">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                            </svg>
                        </div>

                    }
                </div>

                @*@Html.Partial("../Shared/Mensaje", new TransporteMorande.Models.App.MensajeViewModel())*@
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditarHotel" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="white-box">
                    @using (Ajax.BeginForm("Modificar", "Hotel", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "idMensaje3",
                        LoadingElementId = "loader3",
                        HttpMethod = "Post"
                    }, new { @class = "form-horizontal form-material", @id = "form_enviarEditar" }))
                    {
                        <h3 class="box-title m-b-0">Modificar Hospedaje</h3>
                        <small>Transportes Morandé</small>
                        <div class="row">
                            <input type="hidden" name="Id" id="IdModificarHotel" />
                            <div class="col-md-12">
                                <div class="form-group m-t-20">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="Nombre" id="NombreModificar" type="text" required="" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="Direccion" id="DireccionModificar" type="text" placeholder="Direccion">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="TelefonoPrimario" id="TelefonoPrimarioModificar" type="text" placeholder="Teléfono 1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" name="TelefonoSecundario" id="TelefonoSecundarioModificar" type="text" placeholder="Teléfono 2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @Html.DropDownList("Tipo", Model.TiposNuevoHospedaje, new { @id = "TipoModificar", @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Modificar hospedaje</button>
                            </div>
                        </div>

                        <div id="idMensaje3">

                        </div>
                        <div id="loader3" class=" aletr" style="display:none">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                            </svg>
                        </div>

                    }

                </div>


                @*@Html.Partial("../Shared/Mensaje", new TransporteMorande.Models.App.MensajeViewModel())*@
            </div>


        </div>
    </div>
</div>


@section Scripts{
    @*<script src="../plugins/bower_components/footable/js/footable.all.min.js"></script>*@
    <script src="../plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="../plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/bower_components/multiselect/js/jquery.multi-select.js" type="text/javascript"></script>
    @*<script src="js/footable-init.js"></script>
        <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>*@
    <script>
        $('#nuevoHotel').click(function () {
            $('#ModalNuevoHotel').modal();
        });


        function modificar(id) {
            console.log(id);
            $.ajax({
                type: "POST",
                url: '/Hotel/Obtener',
                data: { id: id },
                cache: false,
                dataType: "html",
                success: function (response) {
                    var data = $.parseJSON(response);
                    $('#IdModificarHotel').val(id);
                    $('#NombreModificar').val(data.nombre);
                    $('#DireccionModificar').val(data.direccion);
                    $('#TelefonoPrimarioModificar').val(data.telefono1);
                    $('#TelefonoSecundarioModificar').val(data.telefono2);
                    $('#TipoModificar').val(data.tipo);
                    $('#ModalEditarHotel').modal();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }

        function cerrarAlerta() {
            $('#filtrarHoteles').click();
            $("#ModalNuevoHotel").modal("hide");
        }


    $(document).ready(function () {
        $('#tablaHoteles').DataTable(
        {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Búsqueda sin resultados",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "first": "Primera página",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                },
                "paging": true,
                "info": false,
                "ordering": false,
                "pageLength": 5,
                "lengthMenu": [5, 10, 25]
            });
        

    });


        function consultaEliminar(id) {
            swal({
                title: "¿Estás seguro?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false,
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function () {
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            success: function (response) {
                                resolve(response)
                            },
                            error: function (a, b, c) {
                                reject("error message")
                            }
                        })
                    })
                }
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                            type: "POST",
                            url: '@Url.Action("EliminarHotel", "Hotel")',
                            data: {id: id},
                            cache: false,
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                if (response == "Exito") {
                                    swal("Hotel eliminado", "", "success");
                                    setTimeout(function () {
                                        $('#filtrarHoteles').click();
                                    }, 2500);

                                }
                                else
                                {
                                    swal("Ocurrió un error", "Contáctese con el administrador", "error");
                                }
                            }
                        });
                }
                else
                {
                    swal("Operación cancelada", "", "error");
                }
            });
        }

    </script>
    <script src="../plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>
    <script src="../plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="../plugins/bower_components/sweetalert/sweetalert.min.js"></script>
}
