.@model TransporteMorande.Models.TurismoViewModel
@{
    Layout = "../Shared/_Layout.cshtml";

}
@section Styles
{
    @*<link href="../plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
        <link href="../plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />*@

    <link href="../plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../plugins/bower_components/dropify/dist/css/dropify.min.css">
    <style>
        .imagenesPerso {
            max-width: 150px;
            max-height: 150px;
        }
    </style>
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Servicios de Turismo</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <a href="javascript: void(0);" target="_blank" id="nuevoSlider" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">NUEVO SERVICIO</a>
        <ol class="breadcrumb">
            <li><a href="#">Sitio Web</a></li>
            <li class="active">Turismo</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            @*<h3 class="box-title">Servicios de Turismo</h3>*@
            <div class="scrollable">
                <div class="table-responsive">
                    <table id="tablaTurismo" class="table m-t-30 table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Fotografía</th>
                                <th>Título</th>
                                <th>Contenido</th>
                                <th>Precio</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.Publicaciones)
                            {
                                <tr>
                                    <td><img src="@a.Imagen" class="imagenesPerso" /></td>
                                    <td>@a.Titulo</td>
                                    <td>@Html.Raw(a.Contenido.Substring(0, (a.Contenido.Length > 300 ? 300 : a.Contenido.Length))) ...</td>
                                    <td><span class="label label-info">@a.Precio</span> </td>
                                    <td>
                                        <button type="button" id="@a.Id" data-posicion="@a.Id" data-precio="@a.Precio" data-url="@a.Imagen" data-titulo="@a.Titulo" data-contenido="@a.Contenido" title='Modificar' class='btn btn-sm btn-icon btn-pure btn-outline jsgrid-edit-button trigger-modal-edit' data-toggle="tooltip" data-original-title="Modificar"><i class="ti-pencil" aria-hidden="true"></i></button>
                                        <button type="button" id="@a.Id" data-toggle="tooltip" data-original-title="Eliminar" class='btn btn-sm btn-icon btn-pure btn-outline trigger-modal-delete'><i class="ti-close" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalModificarPublicacion" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Modificar", "TurismoApp", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "form_enviar" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Modificación de contenido</h3>
                </div>
                <div class="modal-body">
                    <div class="white-box">

                        <input type="hidden" id="IdModificarPublicacion" name="Form.Id" />
                        <div class="form-group">
                            <label class="control-label" for="tituloContenido">Título</label>
                            <input class="form-control" id="tituloContenido" type="text" name="Form.Titulo">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="tituloContenidoContenido">Contenido</label>
                            <textarea id="tituloContenidoContenido" rows="10" class="form-control" name="Form.Contenido"></textarea>
                            @*<input class="form-control" id="tituloContenidoContenido" type="text" name="Form.Contenido">*@
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="precioEditar">Precio</label>
                            <input class="form-control" id="precioEditar" type="text" name="Form.Precio">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 ol-md-12 col-xs-12">
                                <h3 class="box-title">Fotografía (420x300)</h3>
                                <label for="input-file-now">Adjunte fotografía</label>
                                <input type="file" id="input-1a" class="dropify" name="Form.Imagen" />

                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Aceptar</button>
                    @*<input type="submit" class="btn btn-info" id="botonGuardar" value="Aceptar" />*@
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="botonCancelar">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEliminarPublicacion" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="titulo-modal-eliminar"></span></h4>
            </div>
            <input type="hidden" id="idSliderDelete" />
            <div id="contenido-modal-eliminar" class="modal-body"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="botonEliminar">Aceptar</button>
                @*<input type="submit" class="btn btn-info" id="botonGuardar" value="Aceptar" />*@
                <button type="button" class="btn btn-default" data-dismiss="modal" id="botonCancelarEliminar">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalNuevaPublicacion" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Nuevo", "Turismo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "form_enviar" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Nuevo servicio de Turismo</h3>
                </div>


                <div class="modal-body">
                    <div class="white-box">

                        <input type="hidden" id="idSlider" name="Form.Id" />
                        <div class="form-group">
                            <label class="control-label" for="tituloContenidoNuevo">Título</label>
                            <input class="form-control" id="tituloContenidoNuevo" type="text" name="Form.Titulo">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="nuevoContenido">Contenido</label>
                            <textarea id="nuevoContenido" rows="10" class="form-control" name="Form.Contenido"></textarea>
                            @*<input class="form-control" id="tituloContenidoContenido" type="text" name="Form.Contenido">*@
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="nuevoPrecio">Precio</label>
                            <input class="form-control" id="nuevoPrecio" type="text" name="Form.Precio">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fotografía (420 X 300)</label>
                            <input id="input-1aNuevo" type="file" class="file" name="Form.Imagen" data-show-preview="false" data-show-upload="false" data-show-remove="false">
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="botonCancelarNuevo">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="../plugins/bower_components/footable/js/footable.all.min.js"></script>*@
    <script src="../plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="../plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/bower_components/dropify/dist/js/dropify.min.js"></script>
    @*<script src="js/footable-init.js"></script>
        <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>*@
    <script>
        $('#nuevoSlider').click(function () {
        $('#ModalNuevaPublicacion').modal();
    });

    $(document).ready(function () {
        $('.dropify').dropify();
        $('#tablaTurismo').DataTable(
        {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Búsqueda sin resultados",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "first": "Primera página",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                },
                "paging": true,
                "info": false,
                "ordering": false,
                "pageLength": 3,
                "lengthMenu": [3, 10, 25],
                "columns": [
                    null,
                    {
                        "width": 200
                    },
                    null,
                    null,
                    {
                        "width": 80
                    }
                ]
        });
    });


    $('.trigger-modal-edit').click(function () {
        var id = $(this).attr('id');

        var elemento = document.getElementById(id);
        var titulo = elemento.dataset.titulo;
        var url_image = elemento.dataset.url;
        var contenido = elemento.dataset.contenido;
        var precio = elemento.dataset.precio;
        var posicion = elemento.dataset.posicion;
        $("#titulo-modal").text("Modificación de contenido");
        $("#tituloContenido").val(titulo);
        $('#tituloContenidoContenido').html(contenido);
        $("#IdModificarPublicacion").val(id);
        $("#precioEditar").val(precio);
        $('#ModalModificarPublicacion').modal();
        });

    $('.trigger-modal-delete').click(function () {
        var id = $(this).attr('id');
        var botonAceptar = document.getElementById('botonEliminar');
        botonAceptar.disabled = false;
        $('#botonCancelarEliminar').text("Cancelar");
        $("#titulo-modal-eliminar").text("Confirmación");
        $('#contenido-modal-eliminar').text("¿Desea eliminar esta servicio?");
        $("#idSliderDelete").val(id);
        $('#ModalEliminarPublicacion').modal();
    });
    //function mensajeExitoso() {
    //    setTimeout(function () {
    //        $('#botonCancelar').click();
    //    }, 3500);
    //}
    $('#botonEliminar').click(function () {
        var id = $('#idSliderDelete').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Eliminar", "Turismo")',
            data: '{id: "' + id + '" }',
            contentType: "application/json;",
            dataType: "json",
            success: function (response) {
                console.log(response);
                $("#contenido-modal-eliminar").text("Servicio eliminado correctamente");
                var botonAceptar = document.getElementById('botonEliminar');
                botonAceptar.disabled = true;
                $('#botonCancelarEliminar').text("Cerrar");
                setTimeout(function () {
                    $('#botonCancelarEliminar').click();
                    window.location.href = '../Turismo/Index';
                }, 2500);


            },
            failure: function (response) {
                alert(response.d);
            }
        });
    });
    </script>

}